<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.moucan.business">

    <application>
        <activity android:name=".inject.InjectTestActivity" />
        <activity android:name=".busy.BusinessActivity" />
    </application>

</manifest>